//ANCHOR container
$container--w1200: 1200px;
$container--w1566: 1566px;
$container--w1740: 1740px;
$main-fonts: "Noto Sans JP", sans-serif;

//color common
$brown: #231815;
$earth: #565f64;
$black: #000;
$black23: #231815;
$white: #fff;
